<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="1">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>

    <div class="centerIt">
      <h1 class="jumbo">2 minute Tamagotchi game</h1>
      <form action="/feed">
        <button type="submit" class="btn btn-primary form-control" name="button">Feed</button>
      </form>
      <form action="/sleep">
        <button type="submit" class="btn btn-danger form-control" name="button">Sleep</button>
      </form>
      <form action="/play">
        <button type="submit" class="btn btn-success form-control" name="button">Play</button>
      </form>

      <div class="output">
        <h3> <%= @name %> Tamagotchi  </h3>
        <h4> Food level:  </h4>
        <progress class="progress progress-success" value= <%= @food %> max="30"></progress>
        <h4> Sleep level:  </h4>
        <progress class="progress progress-warning" value= <%= @sleep %> max="30"></progress>
        <h4> Activity level:  </h4>
        <progress class="progress progress-danger" value= <%= @activity %> max="30"></progress>

      </div>

    </div>
  </body>
</html>
