
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="centerIt">
      <h1 class="jumbo">2 minute Tamagotchi game</h1>

      <form class="" action="/tamagotchi-form">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Enter a name for your tamagotchi">
          <button type="submit" class="btn btn-info form-control" name="button">submit</button>
        </div>
      </form>

    </div>
  </body>
</html>
